/* 헤더시작 */
.logo {
    background-image: url(/image/spr_intro.png);
    width: 78px;
    height: 29px;
    background-position: 0 -98px;
}

header,
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
    background-color: #f6f8fa;
}

header>li {
    margin: 0 16px;
    font-size: 14px;
}

.lang_select {
    padding: 8px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #f6f8fa;
}

.lang_select:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header_menu>li>a {
    padding: 8px 16px;
}

.header_menu>li:last-child>a,
.button_box>button:first-child {
    color: #fff;
    background-color: #21c531;
    border-radius: 8px;
    transition: 0.3s;
}

.header_menu>li:last-child>a:hover {
    box-shadow: 0 4px 5px rgba(33, 197, 49, 0.3);
}

/* main_container */
.main_container {
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px 0;
}

.phone_ui {
    background-image: url(/image/phone.jpg);
    width: 540px;
    height: 695px;
    background-size: 540px auto;
}

.main_text_box {
    margin-bottom: 70px;
}

.main_text_box>h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.main_text_box>p,
.button_box>button:last-child>a {
    color: #444444;
}

.button_box {
    margin: 16px 0 32px 0;
    display: flex;
    flex-direction: column;
}

.button_box>button {
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.button_box>button>a {
    color: #fff;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}

.button_box>button:last-child {
    background-color: #fff;
    margin-top: 8px;
    border: 1px solid #eaeaea;
}

.link_text_box>p {
    margin: 16px 0;
    font-size: 13px;
}

.link_text_box>p>a {
    color: #21c531;
    text-decoration: underline;
    font-weight: 800;
}