/* 헤더시작 */
.logo {
    background-image: url(/image/spr_intro.png);
    width: 78px;
    height: 29px;
    background-position: 0 -98px;
}

header,
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
    background-color: #f6f8fa;
}

header>li {
    margin: 0 16px;
    font-size: 14px;
}

.lang_select {
    padding: 8px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #f6f8fa;
}

.lang_select:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header_menu>li>a {
    padding: 8px 16px;
}

.header_menu>li:last-child>a,
.button_box>button:first-child {
    color: #fff;
    background-color: #21c531;
    border-radius: 8px;
    transition: 0.3s;
}

.header_menu>li:last-child>a:hover {
    box-shadow: 0 4px 5px rgba(33, 197, 49, 0.3);
}

/* main_container */
.main_container {
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px 0;
}

.phone_ui {
    background-image: url(/image/phone.jpg);
    width: 540px;
    height: 695px;
    background-size: 540px auto;
}

.main_text_box {
    margin-bottom: 70px;
}

.main_text_box>h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.main_text_box>p,
.button_box>button:last-child>a {
    color: #444444;
}

.button_box {
    margin: 16px 0 32px 0;
    display: flex;
    flex-direction: column;
}

.button_box>button {
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.button_box>button>a {
    color: #fff;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}

.button_box>button:last-child {
    background-color: #fff;
    margin-top: 8px;
    border: 1px solid #eaeaea;
}

.link_text_box>p {
    margin: 16px 0;
    font-size: 13px;
}

.link_text_box>p>a {
    color: #21c531;
    text-decoration: underline;
    font-weight: 800;
}

/* bg_img_container */
.bg_img_container {
    background: url(/image/bg_intro.jpg);
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg_img_container > h2 {
    color: white;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 12px;
}

.bg_img_container > p {
    font-weight: 600;
    color: #fff;
    line-height: 23px;
    font-size: 18px;
}

/* band_funcion */
.band_function {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.band_function > ul {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.function_list > figure {
    width: 300px;
    height: 150px;
}

.function_img1 {
    background-image: url(/image/list1.jpg);
    background-size: 300px 150px;
}

.function_img2 {
    background-image: url(/image/list2.jpg);
    background-size: 300px 150px;
}

.function_img3 {
    background-image: url(/image/list3.jpg);
    background-size: 300px 150px;
}

.function_list > h2 {
    font-size: 24px;
    margin: 16px auto;
}

.function_list > p {
    line-height: 20px;
    color: #444444;
}

/* band_recommend */
.band_recommend {
    margin-top: 50px;
    background-color: #f6f8fa;
    padding: 50px 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.recommend_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.recommend_text > h2 {
    font-size: 24px;
    font-weight: 600;
}

.recommend_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend_list {
    display: flex;
    width: 500px;
    margin: 8px 0;
}

.recommend_list > figure {
    background-image: url(/image/밴드.jpg);
    width: 93px;
    height: 93px;
    background-size: cover;
    border-radius: 10px;
    margin-right: 16px;
}

.recommend_list_text > h2 {
    font-weight: 600;
    margin-bottom: 5px;
}

.recommend_list_text > p,
.recommend_list_text > div > span {
    margin: 6px 0;
    color: #444444;
    font-size: 12px;
}

.more {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 8px;
    margin: 8px auto;
}

.more > span {
    font-weight: 600;
}

/* download */
.download {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.download_left {
    display: flex;
    align-items: center;
}

.download_left > figure {
    background-image: url(/image/spr_intro.png);
    width: 70px;
    height: 70px;
    background-position: -162px 0;
}

.download_left > div > h2 {
    font-weight: 600;
    font-size: 28px;
    margin-left: 24px;
}

.download_left > div > p {
    margin-left: 24px;
}

.download_store > a:first-child {
    background-image: url(/image/spr_intro.png);
    width: 162px;
    height: 47px;
    background-position: 0 0;
    display: inline-block;
}

.download_store > a:last-child {
    background: url(/image/spr_intro.png);
    width: 162px;
    height: 47px;
    background-position: 0 -49px;
    display: inline-block;
}

/* footer */
footer {
    background-color: #2A3038;
    padding: 32px;
}

footer > ul {
    display: flex;
    color: #888;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

footer > ul > li {
    line-height: 25px;
}

footer > p {
    width: 1000px;
    margin: 36px auto 24px auto;
    color: #888;
}